<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.rephraserengine.ui.refactoring.refactorings">
      <resourceFilter class="org.eclipse.photran.internal.ui.vpg.PhotranResourceFilter" />

      <!-- Add our refactoring to a new group in the Refactor menu -->
      <group>
         <editorRefactoring
             class="org.earthsystemmodeling.refactor.NativeArrayToESMFArray"
             inputPage="org.earthsystemmodeling.refactor.ui.NativeArrayToESMFArrayInputPage"
         />
      </group>
   </extension>
</plugin>
